In [9]:
import csv
import pandas as pd
import pickle
import xgboost as xgb
import numpy as np
from sklearn import datasets
from sklearn.metrics import mean_squared_error

In [14]:
with open("test_processed.csv",'r',newline='',encoding="utf_8_sig") as inputfile: #改行コードがあることを明示,BOM付きファイル削除
    #DataFrameを作成。pandasuはread_csv()がカンマ区切り、read_table()がタブ区切りを読み込む
    test_data = pd.read_csv(inputfile)
    #header : ヘッダーがないのでNoneを指定。あれば0を指定（指定しないと１行目は勝手にヘッダー扱いになる）、
    #name : 適当に名前を付与
    #index_col : 行番号をindexに指定
    #usecols ：CSVの読み込み対象とする列を指定するprint("dfタイプ：", type(df))
print("\nサンプル表示\n")
test_data[0:1]

サンプル表示

,area,buildage,contract_period,シャワー,トイレなし,バスなし,バス・トイレ別,共同トイレ,共同バス,専用トイレ,...,2LDK,3DK,3K,3LDK,4DK,4K,4LDK,5DK,5LDK,6LDK
0,50.22,49.0,NaN,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,0

In [15]:
model = pickle.load(open("xgb_model.pickle", "rb"))

[03:27:34] WARNING: /private/var/folders/v7/c3_jj7v17v9_prw7wrf_qwb80000gn/T/pip-install-2q9xix17/xgboost/xgboost/src/objective/regression_obj.cu:167: reg:linear is now deprecated in favor of reg:squarederror.

In [28]:
# 2列目以降を特徴量として使う
x = test_data.copy()
y =[]
dpred = xgb.DMatrix(x)

In [30]:
y_pred = model.predict(dpred)

In [32]:
len(y_pred)

31262

In [36]:
y_pred

array([139825.05 , 101653.305,  86180.56 , ..., 169759.33 , 267439.75 ,
       101977.41 ], dtype=float32)